@font-face {
  font-family: 'community-icons';
  src:  url('./community/icons.eot?261q38');
  src:  url('./community/icons.eot?261q38#iefix') format('embedded-opentype'),
    url('./community/icons.woff2?261q38') format('woff2'),
    url('./community/icons.ttf?261q38') format('truetype'),
    url('./community/icons.woff?261q38') format('woff'),
    url('./community/icons.svg?261q38#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.community-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'community-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.access_time:before {
  content: "\e900";
}
.add_circle_outline:before {
  content: "\e901";
}
.add_location_alt:before {
  content: "\e902";
}
.add:before {
  content: "\e903";
}
.arrow_back:before {
  content: "\e904";
}
.attach_file:before {
  content: "\e905";
}
.bar_chart:before {
  content: "\e906";
}
.bookmark_added:before {
  content: "\e907";
}
.bookmark_border:before {
  content: "\e908";
}
.card_giftcard:before {
  content: "\e909";
}
.card_membership:before {
  content: "\e90a";
}
.chat_bubble_outline:before {
  content: "\e90b";
}
.check:before {
  content: "\e90c";
}
.chevron_left:before {
  content: "\e90d";
}
.chevron_right:before {
  content: "\e90e";
}
.close:before {
  content: "\e90f";
}
.code:before {
  content: "\e910";
}
.create:before {
  content: "\e911";
}
.delete:before {
  content: "\e912";
}
.download:before {
  content: "\e913";
}
.edit:before {
  content: "\e914";
}
.expand_less:before {
  content: "\e915";
}
.expand_more:before {
  content: "\e916";
}
.face:before {
  content: "\e917";
}
.facebook_circle:before {
  content: "\e918";
}
.fiber_manual_record:before {
  content: "\e919";
}
.folder_open:before {
  content: "\e91a";
}
.format_align_center:before {
  content: "\e91b";
}
.format_align_left:before {
  content: "\e91c";
}
.format_align_right:before {
  content: "\e91d";
}
.format_bold:before {
  content: "\e91e";
}
.format_clear:before {
  content: "\e91f";
}
.format_italic:before {
  content: "\e920";
}
.format_list_bulleted:before {
  content: "\e921";
}
.format_list_numbered:before {
  content: "\e922";
}
.format_quote:before {
  content: "\e923";
}
.format_strikethrough:before {
  content: "\e924";
}
.format_underline:before {
  content: "\e925";
}
.help_outline:before {
  content: "\e926";
}
.hide_image:before {
  content: "\e927";
}
.highlight_off:before {
  content: "\e928";
}
.highlight:before {
  content: "\e929";
}
.image:before {
  content: "\e92a";
}
.insert_link:before {
  content: "\e92b";
}
.instagram_circle:before {
  content: "\e92c";
}
.label:before {
  content: "\e92d";
}
.link:before {
  content: "\e92e";
}
.linkedin_circle:before {
  content: "\e92f";
}
.list:before {
  content: "\e930";
}
.more_circle:before {
  content: "\e931";
}
.more_vert:before {
  content: "\e932";
}
.movie:before {
  content: "\e933";
}
.notifications_off:before {
  content: "\e934";
}
.notifications:before {
  content: "\e935";
}
.outlined_flag:before {
  content: "\e936";
}
.people_alt:before {
  content: "\e937";
}
.person:before {
  content: "\e938";
}
.photo_camera:before {
  content: "\e939";
}
.photo:before {
  content: "\e93a";
}
.picture_as_pdf:before {
  content: "\e93b";
}
.play_arrow:before {
  content: "\e93c";
}
.play_circle_outline:before {
  content: "\e93d";
}
.public:before {
  content: "\e93e";
}
.redo:before {
  content: "\e93f";
}
.restore_from_trash:before {
  content: "\e940";
}
.restore:before {
  content: "\e941";
}
.save:before {
  content: "\e942";
}
.send:before {
  content: "\e943";
}
.sentiment_satisfied_alt:before {
  content: "\e944";
}
.share:before {
  content: "\e945";
}
.thumb_up_off_alt:before {
  content: "\e946";
}
.thumb_up:before {
  content: "\e947";
}
.title:before {
  content: "\e948";
}
.twitter_circle:before {
  content: "\e949";
}
.undo:before {
  content: "\e94a";
}
.upload:before {
  content: "\e94b";
}
.visibility_off:before {
  content: "\e94c";
}
.visibility:before {
  content: "\e94d";
}
.whatsup_circle:before {
  content: "\e94e";
}
.zoom_in:before {
  content: "\e94f";
}
.zoom_out_map:before {
  content: "\e950";
}
.zoom_out:before {
  content: "\e951";
}
